/* ====== 1 ====== */

.custom-underline-1 {
    box-shadow: inset 0 0px 0 white, inset 0 -5px 0 #d1b48e;
    border-bottom: 1px solid #d1b48e;
}

.custom-underline-1:hover {
    box-shadow: inset 0 0px 0 white, inset 0 -5px 0 #d1b48e;
    border-bottom: 1px solid #d1b48e;
    background-color: #d1b48e;
}

/* ====== 2 ====== */

.custom-underline-2 {
    box-shadow: inset 0 0px 0 white, inset 0 -5px 0 #bca77b;
    border-bottom: 1px solid #bca77b;
}

.custom-underline-2:hover {
    box-shadow: inset 0 0px 0 white, inset 0 -5px 0 #bca77b;
    border-bottom: 1px solid #bca77b;
    background-color: #bca77b;
}

/* ====== 3 ====== */

.custom-underline-3 {
    box-shadow: inset 0 0px 0 white, inset 0 -5px 0 #afafaf;
    border-bottom: 1px solid #afafaf;
}

.custom-underline-3:hover {
    box-shadow: inset 0 0px 0 white, inset 0 -5px 0 #afafaf;
    border-bottom: 1px solid #afafaf;
    background-color: #afafaf;
}

/* ====== 4 ====== */

.custom-underline-4 {
    box-shadow: inset 0 0px 0 white, inset 0 -5px 0 #878b7a;
    border-bottom: 1px solid #878b7a;
}

.custom-underline-4:hover {
    box-shadow: inset 0 0px 0 white, inset 0 -5px 0 #878b7a;
    border-bottom: 1px solid #878b7ac;
    background-color: #878b7a;
}

/* ====== 5 ====== */

.custom-underline-5 {
    box-shadow: inset 0 0px 0 white, inset 0 -5px 0 #877a76;
    border-bottom: 1px solid #877a76;
}

.custom-underline-5:hover {
    box-shadow: inset 0 0px 0 white, inset 0 -5px 0 #877a76;
    border-bottom: 1px solid #877a76;
    background-color: #877a76;
}

/* ====== 6 ====== */

.custom-underline-6 {
    box-shadow: inset 0 0px 0 white, inset 0 -5px 0 #8e4f39;
    border-bottom: 1px solid #8e4f39;
}

.custom-underline-6:hover {
    box-shadow: inset 0 0px 0 white, inset 0 -5px 0 #8e4f39;
    border-bottom: 1px solid #8e4f39;
    background-color: #8e4f39;
}

/* ====== 7 ====== */

.custom-underline-7 {
    box-shadow: inset 0 0px 0 white, inset 0 -5px 0 #bc4d33;
    border-bottom: 1px solid #bc4d33;
}

.custom-underline-7:hover {
    box-shadow: inset 0 0px 0 white, inset 0 -5px 0 #bc4d33;
    border-bottom: 1px solid #bc4d33;
    background-color: #bc4d33;
}

/* ====== 8 ====== */

.custom-underline-8 {
    box-shadow: inset 0 0px 0 white, inset 0 -5px 0 #d36c18;
    border-bottom: 1px solid #d36c18;
}

.custom-underline-8:hover {
    box-shadow: inset 0 0px 0 white, inset 0 -5px 0 #d36c18;
    border-bottom: 1px solid #d36c18;
    background-color: #d36c18;
}

/* ====== 9 ====== */

.custom-underline-9 {
    box-shadow: inset 0 0px 0 white, inset 0 -5px 0 #e7842b;
    border-bottom: 1px solid #e7842b;
}

.custom-underline-9:hover {
    box-shadow: inset 0 0px 0 white, inset 0 -5px 0 #e7842b;
    border-bottom: 1px solid #e7842b;
    background-color: #e7842b;
}

/* ====== 10 ====== */

.custom-underline-10 {
    box-shadow: inset 0 0px 0 white, inset 0 -5px 0 #e09f2b;
    border-bottom: 1px solid #e09f2b;
}

.custom-underline-10:hover {
    box-shadow: inset 0 0px 0 white, inset 0 -5px 0 #e09f2b;
    border-bottom: 1px solid #e09f2b;
    background-color: #e09f2b;
}

/* ====== 11 ====== */

.custom-underline-11 {
    box-shadow: inset 0 0px 0 white, inset 0 -5px 0 #c4964d;
    border-bottom: 1px solid #c4964d;
}

.custom-underline-11:hover {
    box-shadow: inset 0 0px 0 white, inset 0 -5px 0 #c4964d;
    border-bottom: 1px solid #c4964d;
    background-color: #c4964d;
}

/* ====== 12 ====== */

.custom-underline-12 {
    box-shadow: inset 0 0px 0 white, inset 0 -5px 0 #d4af37;
    border-bottom: 1px solid #d4af37;
}

.custom-underline-12:hover {
    box-shadow: inset 0 0px 0 white, inset 0 -5px 0 #d4af37;
    border-bottom: 1px solid #d4af37;
    background-color: #d4af37;
}

/* ====== 13 ====== */

.custom-underline-13 {
    box-shadow: inset 0 0px 0 white, inset 0 -5px 0 #c9c777;
    border-bottom: 1px solid #c9c777;
}

.custom-underline-13:hover {
    box-shadow: inset 0 0px 0 white, inset 0 -5px 0 #c9c777;
    border-bottom: 1px solid #c9c777;
    background-color: #c9c777;
}

/* ====== 14 ====== */

.custom-underline-14 {
    box-shadow: inset 0 0px 0 white, inset 0 -5px 0 #abe157;
    border-bottom: 1px solid #abe157;
}

.custom-underline-14:hover {
    box-shadow: inset 0 0px 0 white, inset 0 -5px 0 #abe157;
    border-bottom: 1px solid #abe157;
    background-color: #abe157;
}

/* ====== 15 ====== */

.custom-underline-15 {
    box-shadow: inset 0 0px 0 white, inset 0 -5px 0 #6fe26f;
    border-bottom: 1px solid #6fe26f;
}

.custom-underline-15:hover {
    box-shadow: inset 0 0px 0 white, inset 0 -5px 0 #6fe26f;
    border-bottom: 1px solid #6fe26f;
    background-color: #6fe26f;
}

/* ====== 16 ====== */

.custom-underline-16 {
    box-shadow: inset 0 0px 0 white, inset 0 -5px 0 #bbeace;
    border-bottom: 1px solid #bbeace;
}

.custom-underline-16:hover {
    box-shadow: inset 0 0px 0 white, inset 0 -5px 0 #bbeace;
    border-bottom: 1px solid #bbeace;
    background-color: #bbeace;
}

/* ====== 17 ====== */

.custom-underline-17 {
    box-shadow: inset 0 0px 0 white, inset 0 -5px 0 #d4d9e9;
    border-bottom: 1px solid #d4d9e9;
}

.custom-underline-17:hover {
    box-shadow: inset 0 0px 0 white, inset 0 -5px 0 #d4d9e9;
    border-bottom: 1px solid #d4d9e9;
    background-color: #d4d9e9;
}

/* ====== 18 ====== */

.custom-underline-18 {
    box-shadow: inset 0 0px 0 white, inset 0 -5px 0 #e8d9d9;
    border-bottom: 1px solid #e8d9d9;
}

.custom-underline-18:hover {
    box-shadow: inset 0 0px 0 white, inset 0 -5px 0 #e8d9d9;
    border-bottom: 1px solid #e8d9d9;
    background-color: #e8d9d9;
}

/* ====== 19 ====== */

.custom-underline-19 {
    box-shadow: inset 0 0px 0 white, inset 0 -5px 0 #d4b49b;
    border-bottom: 1px solid #d4b49b;
}

.custom-underline-19:hover {
    box-shadow: inset 0 0px 0 white, inset 0 -5px 0 #d4b49b;
    border-bottom: 1px solid #d4b49b;
    background-color: #d4b49b;
}

/* ====== 20 ====== */

.custom-underline-20 {
    box-shadow: inset 0 0px 0 white, inset 0 -5px 0 #ddc3c3;
    border-bottom: 1px solid #ddc3c3;
}

.custom-underline-20:hover {
    box-shadow: inset 0 0px 0 white, inset 0 -5px 0 #ddc3c3;
    border-bottom: 1px solid #ddc3c3;
    background-color: #ddc3c3;
}

/* ====== 21 ====== */

.custom-underline-21 {
    box-shadow: inset 0 0px 0 white, inset 0 -5px 0 #ce95a0;
    border-bottom: 1px solid #ce95a0;
}

.custom-underline-21:hover {
    box-shadow: inset 0 0px 0 white, inset 0 -5px 0 #ce95a0;
    border-bottom: 1px solid #ce95a0;
    background-color: #ce95a0;
}

/* ====== 22 ====== */

.custom-underline-22 {
    box-shadow: inset 0 0px 0 white, inset 0 -5px 0 #a86c7e;
    border-bottom: 1px solid #a86c7e;
}

.custom-underline-22:hover {
    box-shadow: inset 0 0px 0 white, inset 0 -5px 0 #a86c7e;
    border-bottom: 1px solid #a86c7e;
    background-color: #a86c7e;
}